<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
  <script>var localPath = '/borrowedInstruments/';</script>
  <script src="/borrowedInstruments/borrowHistory.service.js"></script>
  <script src="/borrowedInstruments/borrowedInstruments.component.js"></script>
  <script src="/borrowedInstruments/borrowedInstruments.module.js"></script>
  <script src="/borrowedInstruments/borrowedInstruments.main.js"></script>
</head>

<body>

  <% include ../shared/nav.ejs %>

  <lesson-info-app class="mainContainer"></lesson-info-app>
</body>
</html>