<p *ngIf="error" class="errorMessage">{{error}}</p>

<div *ngIf="FormIsAvailable()" class="ui cards">
  <div class="card" *ngFor="let student of students">
    <div class="content clickable" (click)="SelectStudentRequest(student.requestid)">
      <div class="cardHeader">
          {{student.firstname}} {{student.lastname}}
      </div>
      <div class="meta">
        <div class="cardRowContainer"><div class="cardLeft">Instrument:</div> <div class="cardRight">{{student.instrument}}</div></div>
        <div class="cardRowContainer"><div class="cardLeft">Grade:</div> <div class="cardRight">{{student.grade}}</div></div>
        <div class="cardRowContainer"><div class="cardLeft">Start-End Time:</div> <div class="cardRight">{{student.starttime + ' - ' + student.endtime}}</div></div>
        <div class="cardRowContainer"><div class="cardLeft" id="redText" *ngIf="student.teacher != null">Specific request for you</div></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!FormIsAvailable()">
  <p>You do not have access to this page.</p>
</div>