<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/ourPeopleInformation/css/main.css" />
</head>

<body>

  	<% include ../shared/nav.ejs %>

<div class="mainContainer">
    <div class="mainHeader">Our People</div>
    <div class="mainBody">
        <div class="about">
            <div class="container">
             <section id="one" class="wrapper special">
				<div class="inner">
				
					<header class="major">
						<h2>Meet Our Specialised Staff</h2>
					</header>
					<div class="features">
						<div class="feature">
							
							 <div class="team_members">
                                <ul>
                                    <li>
                                        <p class="name">MAX</p>
                                        <p class="designation">CEO</p>
                                        <img src="../ourPeopleInformation/img/MAX.jpg" class="img-responsive" alt="team">
									
										<br>
                                    </li> </div>
							<h3>BMusEd (Clarinet & Piano), CGSMD (Perf)(Saxophone) High Distinction LGSMD (Perf)(Flute)</h3>
							<p>MAX has a wealth of experience in the performing arts both as an educator and performer.

As a musician MAX has worked in the classical, jazz and rock/pop fields both in Australia and overseas.

As a teacher MAX loves to share his passion for music with students of all ages. He has taught from the very young all the way through to retirees. Students have excelled in exams, auditions and school performance work. Several students have entered tertiary programs in music on various instruments under his instruction.</p>
						</div>
						<div class="feature">
							
							 <div class="team_members">
                                <ul>
                                    <li>
                                        <p class="name">Jhon</p>
                                        <p class="designation">Manager</p>
                                        <img src="../ourPeopleInformation/img/Jhon.jpg" class="img-responsive" alt="team">
										
										<br>
                                    </li> </div>
							<h3>ATCL, BA (Mus)</h3>
							<p>Jhon is an experienced solo acoustic performer and teacher based in the Blue Mountains. He has over twenty years of experience as a professional guitar player in which he has developed a fluid and expressive style. Cameron has a passion for the pure, soothing sound of the guitar and is equally at home playing and teaching classical and modern styles. He has a degree majoring in music from Monash University in Melbourne and is a registered teacher with the School of Music.</p>
						</div>
						<div class="feature">
							
							 <div class="team_members">
                                <ul>
                                    <li>
                                        <p class="name">Kat</p>
                                        <p class="designation">Teacher</p>
                                        <img src="../ourPeopleInformation/img/Kat.jpg" class="img-responsive" alt="team">
										
										<br>
                                    </li> </div>
							<h3>A.Mus.A, B.Mus., ASCM...(Chamber Music) L.Mus.A Grad Dip.Ed</h3>
							<p>Kat started studying piano at the age of eleven and gained entry to study at the Conservatorium High School where she attained her NSW Higher School Certificate. She continued her tertiary music education at the Sydney Conservatorium of Music – graduating with a Bachelor of Music degree majoring in both performance and accompaniment. She has been the recipient of many music awards and prizes over the years and has been soloist with both the Sydney Symphony and the Conservatorium Symphony orchestras. KAT has over 20 years of teaching experience.</p>
						</div>
						<div class="feature">
							
							 <div class="team_members">
                                <ul>
                                    <li>
                                        <p class="name">Rio</p>
                                        <p class="designation">Teacher</p>
                                        <img src="../ourPeopleInformation/img/Rio.jpg" class="img-responsive" alt="team">
										
										<br>
                                    </li> </div>
							<h3>B.A.( Mus), A.Mus.A., L.Mus.A., Ph.D</h3>
							<p>Rio is a piano teacher specialising in Baroque harpsichord repertoire. At Bard College, in Upstate New York, Rio studied piano with German Diez and harpsichord with Dr. Fred Hammond. During this period, he has given recitals as both an accompanist and soloist.Since arriving in Sydney in 2000, Rio has completed research at UNSW concerning musical aesthetics and psychophysics, and continues to perform, compose and write about music. Lessons are centred around exam and recital preparation, and focus on theory, fingering, technique, interpretation, and memorization.</p>
						</div>
						<div class="feature">
							
							 <div class="team_members">
                                <ul>
                                    <li>
                                        <p class="name">Kathe</p>
                                        <p class="designation">Teacher</p>
                                        <img src="../ourPeopleInformation/img/Kathe.jpg" class="img-responsive" alt="team">
										
										<br>
                                    </li> </div>
							<h3>Early Childhood Music, Voice</h3>
							<p>Kathe is a versatile performer, vocalist and music educator. Joining Penrith Conservatorium in 2015, Kathe holds a Bachelor of Music (Music Theatre) from the Australian Institute of Music, as well as 7th Grade classical singing (AMEB) and 6th Grade piano (AMEB). Yyani is passionate about music education, teaching Music Theatre, Classical and Contemporary styles as well as specialising in Early Childhood Music.</p>
						</div>
					</div>
				</div>
			</section>
      
    </div>

</div>
   
</body>
</html>