<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <% include ../shared/header.ejs %>
  <script src="/main/hero.js"></script>
  <script src="/main/heroesList.js"></script>
  <script src="/main/hero.service.js"></script>
  <script src="/main/hero-detail.component.js"></script>
  <script src="/main/dashboard.component.js"></script>
  <script src="/main/hero.component.js"></script>
  <script src="/main/app.component.js"></script>
  <script src="/main/app.routing.js"></script>
  <script src="/main/app.module.js"></script>
  <script src="/main/main.js"></script>
</head>
  <my-app></my-app>
<body>
</body>
</html>
