<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/contactUsInformation/css/main.css" />
</head>

<body>

  	<% include ../shared/nav.ejs %>

<div class="mainContainer">
    <div class="mainHeader">Contact Us</div>
    <div class="mainBody">
       
       
        <div class="row">    
            <section class="contact">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                     
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="address">
                            <p><b><span>Address:</span></b></p>
                            <p>456 Ann Street</p>
                            <p>Brisbane City, Queensland</p>
                            
                            <div class="sub_detail">
                                <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone <span class="detail">+61 555 555 555</span></p>
                                <p><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Fax <b><span class="fax">+61 555 555 555</span></b></p>
                                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail <span class="detail">info@data55.com</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img src="../contactusInformation/img/map.png" class="img-responsive map" alt="map" >
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
   
</body>
</html>