<p *ngIf="error" class="errorMessage">{{error}}</p>

<div *ngIf="reports && FormIsAvailable()" class="ui cards">
    <table class="table-hover" data-role="table" data-mode=" columntoggle" id="myTable" data-filter="true" data-input="#filterTable-input">
      <thead>
        <th class="left aligned">Name</th>
      </thead>
        <tr *ngFor="let report of reports" (click)="SelectReport(report.name)">
          <td class="left aligned">{{report.displayname}}</td>
        </tr>
    </table>
</div>
<div *ngIf="!FormIsAvailable()">
  <p>You do not have access to this page.</p>
</div>