<form class="col-sm-9" #passwordInfo="ngForm" method="POST">
	<fieldset id="passwordInfo">
		<p class="errorMessage" *ngIf="error">{{error}}</p>
		<p class="successMessage" *ngIf="success">{{success}}</p>
		<legend>
			<span>Change Password</span>
			<button
			*ngIf="!editing"
			(click)="enterEditingMode()"
			>Change</button>
			<button 
			class="positive"
			*ngIf="editing"
			(click)="saveChanges()"
			>Save</button>
			<button 
			class="negative"
			*ngIf="editing"
			(click)="cancelEditing()"
			>Cancel</button>
		</legend>
		
		<div *ngIf="editing"
		class="RowContainer col-sm-12">
			<div class="Left">Old Password:</div>
			<input type="password" class="Right"
			[(ngModel)]="passwordForm.post.old_password"
			name="old_password"
			#old_password="ngModel" 
			pattern="^.{6,}$"
			required />
		</div>
		<div *ngIf="editing"
		class="RowContainer col-sm-12">
			<div class="Left">New Password:</div>
			<input type="password" class="Right"
			[(ngModel)]="passwordForm.post.new_password"
			name="new_password"
			#new_password="ngModel" 
			pattern="^.{6,}$"
			required />
		</div>
		<div *ngIf="editing"
		class="RowContainer col-sm-12">
			<div class="Left">Confirm Password:</div>
			<input type="password" class="Right"
			[(ngModel)]="passwordForm.post.new_password_conf"
			name="new_password_conf"
			#new_password_conf="ngModel" 
			pattern="^.{6,}$"
			required />
		</div>
	</fieldset>
</form>
<div style="clear: both"></div>