<title>School of Music</title>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/shared/img/logo.png">
<link href="/shared/stylesheets/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>


<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<link rel="stylesheet" type="text/css" href="/shared/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/shared/stylesheets/forms.css" />
<link rel="stylesheet" type="text/css" href="/shared/stylesheets/tablePages.css" />
<link rel="stylesheet" type="text/css" href="/shared/stylesheets/cardPages.css" />

<!-- 1. Load libraries -->
<!-- IE required polyfill -->
<!--

-->

<script src="/shared/angular/shim.min.js"></script>
<script src="/shared/angular/zone.js"></script>
<script src="/shared/angular/Reflect.js"></script>
<script src="/shared/angular/Rx.umd.js"></script>
<script src="/shared/angular/core.umd.js"></script>
<script src="/shared/angular/common.umd.js"></script>
<script src="/shared/angular/compiler.umd.js"></script>
<script src="/shared/angular/platform-browser.umd.js"></script>
<script src="/shared/angular/platform-browser-dynamic.umd.js"></script>
<script src="/shared/angular/forms.umd.js"></script>
<script src="/shared/angular/http.umd.js"></script>
<script src="/shared/angular/router.umd.js"></script>

<script src="/shared/cookie.service.js"></script>
<script src="/shared/user.service.js"></script>
<script src="/shared/login.service.js"></script>

<script src="/shared/loggedIn.component.js"></script>
<script src="/shared/loggedIn.module.js"></script>
<script src="/shared/loggedIn.main.js"></script>