<p *ngIf="error" class="errorMessage">{{error}}</p>
<form *ngIf="FormIsAvailable()" [hidden]="submitted" (ngSubmit)="Register()" #registrationForm="ngForm" method="POST">
    <fieldset id="managerinfo">
        <legend><span>Personal Information</span></legend>
        <div class="row">
        	<div class="col-sm-6">
        		<label for="firstName">First Name:</label>
	            <input 	title="Letters and Spaces" type="text" id="firstName" name="firstName" #firstName="ngModel"
				[(ngModel)]="manager.firstName" pattern="^[A-Za-z ]+$" required/>
				<p class="errorMessage" [hidden]="(firstName.valid || firstName.untouched) && isValid.firstName">Invalid input. Must only contain letters.</p>
        	</div>
        	<div class="col-sm-6">
        		<label for="email">Email:</label>
	            <input 	title="example@example.com" type="email" id="email" name="email" #email="ngModel"
				[(ngModel)]="manager.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
				<p class="errorMessage" [hidden]="(email.valid || email.untouched) && isValid.email">Invalid input. Must be a valid email format.</p>
	        </div>
	    </div>
	    <div class="row">
        	<div class="col-sm-6">
        		<label for="middleName">Middle Name:</label>
	            <input 	title="Letters and Spaces" type="text" id="middleName" name="middleName" #middleName="ngModel"
				[(ngModel)]="manager.middleName" pattern="^[A-Za-z ]*$" />
				<p class="errorMessage" [hidden]="(middleName.valid || middleName.untouched) && isValid.middleName">Invalid input. Must only contain letters.</p>
        	</div>
        	<div class="col-sm-6">
        		<label for="phoneNumber">Phone:</label>
	            <input 	title="8 digit home phone or 10 digit mobile" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
				[(ngModel)]="manager.phoneNumber" pattern="^\d{8}$|^04\d{8}$" required/>
				<p class="errorMessage" [hidden]="(phoneNumber.valid || phoneNumber.untouched) && isValid.phoneNumber">Invalid input. Must be a valid mobile or home number (without area codes).</p>
	        </div>
	    </div>
	    <div class="row">
        	<div class="col-sm-6">
        		<label for="lastName">Last Name:</label>
	            <input 	title="Letters and Spaces" type="text" id="lastName" name="lastName" #lastName="ngModel"
				[(ngModel)]="manager.lastName" pattern="^[A-Za-z ]+$" required/>
				<p class="errorMessage" [hidden]="(lastName.valid || lastName.untouched) && isValid.lastName">Invalid input. Must only contain letters.</p>
        	</div>
			<div class="col-sm-6">
				<label 	for="birthday">Date of Birth: </label>
				<input 	title="dd/mm/yyyy" type="text" id="birthday" class="datepicker" placeholder= "dd/mm/yyyy" name="birthday" #birthday="ngModel" [(ngModel)]="manager.birthday" 
						pattern="^([0-2][0-9]|3[0-1])\/(0[1-9]|1[0-2])\/((19|20)[0-9]{2})$" 
						autocomplete="off" required/>
				<p class="errorMessage" [hidden]="(birthday.valid || birthday.untouched) && isValid.birthday">Invalid input. Must be a valid date in the format dd/mm/yyyy.</p>
			</div>
	    </div>
	    <div class="row">
        	<div class="col-sm-6">
        		<label for="gender">Gender:</label>
	            <select id="gender" name="gender" #gender="ngModel" [(ngModel)]="manager.gender" pattern="^Male$|^Female$" required>
						<option value="" disabled selected>Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
				</select>
				<p class="errorMessage" [hidden]="(gender.valid || gender.untouched) && isValid.gender">A Value must be selected.</p>
        	</div>
	    </div>
    </fieldset>
        
    <fieldset id="locationinfo">
        <legend><span>Location Information</span></legend>
	    <div class="row">
        	<div class="col-sm-12">
        		<label for="address">Address:</label>
	            <input 	type="text" id="address" name="address" #address="ngModel"
				[(ngModel)]="manager.address" required/>
				<p class="errorMessage" [hidden]="(address.valid || address.untouched) && isValid.address">Invalid input. Must be a valid address.</p>
        	</div>
	    </div>  
    </fieldset>

    <fieldset id="additionalinformation">
        <legend><span>Additional Information</span></legend>
        <div class="col-sm-12">
	        <label for="feedback">Additional information to display to students about your experience and/or qualifications</label>
	        <textarea id="feedback" name="feedback" rows="7" [(ngModel)]="manager.description" ></textarea>
        </div>
    </fieldset>
    <div class="buttonContainer">
    	<button [disabled]="!registrationForm.form.valid" type="Submit">Submit</button>
    </div>
</form>
<div [hidden]="!submitted">
	<p>Attempting to Register your new account...</p>
</div>
<p *ngIf="!FormIsAvailable()">You do not have access to this page.</p>