<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/main/css/main.css" />
</head>

<body>

  	<% include ../shared/nav.ejs %>

	<div class="mainContainer">
    <div class="mainHeader">Welcome</div>
    <div class="mainBody">
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="about_content" align="center">  
                            <p class="paragraph">		Specialist music school in Brisabne, where students are drawn from an area wider than the host schools catchment. Students will receive specialist music tuition within the music school but are fully integrated within the host school for other lessons. Entry to the specialist music unit or school is by competitive audition, which also effectively gives entry to the host school. Our school gives and pathway towards other wll reputed international music
							school. Teaching quality helps the students to enhace their carrier & helps further to achieve their desired life goals in particulr field.
        			
        			
                        </div>
                    </div>
                </div>
            </div>
        </div>
	  		  <body id="app-layout">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="shared/img/info.png" alt="index_pageImage" class="img-thumbnail" />
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
       
    </body>
	
</body>
</html>