<!DOCTYPE html>
<html>
<head>
  <% include shared/header.ejs %>
</head>

<body>

  <% include shared/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Error 404: Page Not Found</h1>
  </div>
</div>
</body>
</html>
